[2015-10-24 14:19] chill117 opened #1 "Add sockslist.net as a proxy source"
[sockslist.net](http://sockslist.net/)

[2015-10-24 14:20] chill117 opened #2 "Add happy-proxy.com as a proxy source"
[happy-proxy.com](https://happy-proxy.com)

[2015-10-24 14:22] chill117 opened #3 "Add theproxisright.com as a proxy source"
[theproxisright.com](https://theproxisright.com)

[2015-10-24 14:23] chill117 opened #4 "Add kingproxies.com as a proxy source"
[kingproxies.com](https://kingproxies.com)

[2015-10-24 14:23] chill117 opened #5 "Add proxylist.hidemyass.com as a proxy source"
[proxylist.hidemyass.com](http://proxylist.hidemyass.com/)

[2015-10-24 18:32] chill117 opened #6 "Add free-proxy-list.net as proxy source"
[free-proxy-list.net](http://free-proxy-list.net/)

[2015-10-25 11:17] #5 closed

[2015-10-25 19:46] chill117 commented on #3
theproxisright has discontinued their API.

[2015-10-25 19:46] #3 closed

[2015-10-25 20:42] chill117 commented on #2
Limited usefulness. Can only get ~24 proxies per request and rate-limited on number of requests per day.

[2015-10-25 20:42] #2 closed

[2015-10-28 17:30] #6 closed

[2015-10-30 21:20] #4 closed

[2015-11-04 13:25] chill117 opened #8 "Add proxyfire.net forum as proxy source"
Notes:
* Lists include IP address and port only. Can run the IP addresses through [node-geoip](https://github.com/bluesmoon/node-geoip) to determine their country. Will need to modify node-geoip to do only country look-up, because the full implementation uses a lot of RAM.

Lists for different anonymity levels / protocols:
* [elite + anonymous](http://www.proxyfire.net/forum/forumdisplay.php?f=14)

[2015-11-17 20:38] chill117 opened #9 "Add proxies24-blogspot as proxy source"
* http:
  * http://proxyserverlist-24.blogspot.com/
  * http://sslproxies24.blogspot.com/
* socks:
  * http://vip-socks24.blogspot.com/

[2015-11-19 20:15] #9 closed

[2015-11-19 20:16] chill117 commented on #8
The primary contributor to the proxy lists in proxyfire.net posts to proxies24 as well, which has already been implemented as a proxy source.

[2015-11-19 20:16] #8 closed

[2015-11-20 21:36] chill117 opened #10 "Re-design the API interface to allow for more stream-like behavior"
### Why

Now when calling `getProxies()` it takes a very long time before the callback is called. This long delay is due to waiting for proxies to be gathered from all sources. Not only is it annoying to have to wait so long before receiving any proxy data, it has a huge disadvantage in that all the proxy data is stored in memory leading to unnecessarily high memory consumption.

### How to solve

[2015-11-27 11:06] #10 closed

[2015-11-27 11:13] chill117 opened #11 "Add `series` option for getting proxies non-concurrently"
Currently, proxies are retrieved from all proxy sources concurrently; each proxy source also performs HTTP requests and other processing concurrently. This can be an issue when run in an environment with limited system resources. Adding a new option (`series`) could solve this problem.

`series` should default to `false` to maintain the current behavior.

When `series` is set to `true`, all asynch

[2015-11-27 12:59] chill117 opened #12 "Add proxyocean as source"
http://www.proxyocean.com/

[2015-11-27 13:02] chill117 opened #13 "Add proxylisten as source"
http://www.proxy-listen.de/Proxy/Proxyliste.html

[2015-11-27 13:46] chill117 opened #14 "-"
After manual testing, none of the proxies appear to be functional.

[2015-11-27 13:52] #14 closed

[2015-11-27 22:49] #1 closed

[2015-11-27 22:50] #11 closed

[2015-11-30 12:08] #13 closed

[2016-01-29 12:27] cyclops24 opened #15 "Not working for node v0.10"
Hi,
I try use your package as below but I got error:
[code]

And this is my error message:

[code]
where is my mistake?

[2016-01-29 12:42] chill117 commented on #15
What version of node are you running?

[2016-01-29 14:56] cyclops24 commented on #15
Hi @chill117 ,
My node version is v0.10.37.

[2016-01-29 16:35] chill117 commented on #15
All fixed. The latest release (1.5.2) has the fixes for node 0.10

[2016-01-29 21:26] chill117 opened #16 "gatherproxy.com"

[2016-01-30 12:33] cyclops24 commented on #15
Thanks @chill117 it's working now.

[2016-01-30 12:33] #15 closed

[2016-01-30 12:39] cyclops24 opened #17 "Use proxy in proxy-list"
Hi @chill117 ,
Is it possible to set proxy for proxy-list module?? For example pass proxy option through [request](https://www.npmjs.com/package/request) proxy options.
Some proxy source block my IP and I want to set proxy when use proxy-list.

[2016-01-31 19:11] chill117 commented on #17
No, this is not currently possible. But I think that's a good idea. The difficulty is that proxy-lists is divided into "sources". Each source is responsible for making the HTTP requests to pull proxy data from various websites/APIs. So it would be a decent amount of work to implement this.

[2016-02-04 05:52] cyclops24 commented on #17
@chill117 ,
Thanks for your attention. I think it's simple because request module has this feature. It's only need to set HTTP_PROXY environment variable here base on [documentation](https://www.npmjs.com/package/request#controlling-proxy-behaviour-using-environment-variables).
Did I miss something or it's work?

[2016-02-04 06:02] cyclops24 commented on #17
I test and it's work for me but I think it's more better if it's available as a property. :hand:

[2016-02-04 13:01] chill117 commented on #17
Nice work. Yes, that HTTP_PROXY environment variable is useful. Not sure when I will have time, but I'll work on adding this feature as an option for this module.

[2016-02-13 03:08] cyclops24 opened #18 "Save as text (export)"
Hi @chill117 ,
I guess a simple export feature maybe useful. Many people want to export this module result as a standard proxy list text file (IP:PORT).

[2016-02-13 03:15] cyclops24 opened #19 "Please add this two google passed proxy source"
Hi @chill117 ,
I used this two source for google passed proxy and want to suggest you:
http://www.google-proxy.net/
http://googleproxies24.blogspot.co.uk

[2016-02-24 04:31] cyclops24 commented on #17
@chill117 when you want to add this new feature?? Which milestone you want doing this?

[2016-02-24 17:07] chill117 commented on #17
Apologies. I still haven't had time to tackle this yet.

[2016-02-28 18:00] #12 closed

[2016-03-31 13:39] chill117 commented on #18
@cyclops24 How about if proxy-lists could be used as a CLI tool and you could use an option to tell it to output the results to a text file. What do you think?

[2016-03-31 14:07] cyclops24 commented on #18
@chill117 I think it's useful man. It's what I want from this feature request. :smile:

[2016-04-11 08:52] chill117 commented on #18
I started working on this.

[2016-04-21 06:51] rafis opened #22 "proxydb.net (new proxy source)"
#new proxy source

[2016-05-15 06:56] cyclops24 opened #23 "Error: ETIMEDOUT"
Hi @chill117
I got this error when try use your package within Meteor:

[code]
It return many proxy but also return this error. This is my code:
[code]

[2016-05-15 09:49] chill117 commented on #23
Try adding the following to your code to catch and print errors from the module:
[code]
This should give you the stack trace as well as the error message. I suspect that it is caused by one of the proxy list sources being unreachable from your machine at the time you are running the program.

[2016-05-15 10:56] cyclops24 commented on #23
Thanks man. It's worked. I add `on error` and all things fixed now.

[2016-05-15 10:56] #23 closed

[2016-05-21 21:07] chill117 commented on #18
This is now possible (as of v1.6.0). See the [CLI section of the readme](https://github.com/chill117/proxy-lists#command-line-interface) for exact usage information.

[2016-05-21 21:07] #18 closed

[2016-05-22 00:11] chill117 commented on #22
Added

[2016-05-22 00:11] #22 closed

[2016-05-22 00:14] chill117 commented on #19
Looks like the first one (http://www.google-proxy.net/) doesn't have any proxies listed.

The second one I can implement.

[2016-05-22 00:16] chill117 opened #24 "Geo-ip lookup if country is missing"
Several proxy sources don't have any information other than an IP address and port. In these cases, the IP address can be used to lookup the country code of the proxy. ~~Add an option that when used will tell proxy-lists to perform this lookup for all proxies that are missing the country information.~~ No option is used. Every proxy's IP address is geo-located automatically.

[2016-05-22 15:59] chill117 commented on #19
The second one redirects to a proxy list website that has already been added as a source.

[2016-05-22 15:59] #19 closed

[2016-05-24 19:41] #16 closed

[2016-06-01 14:31] cyclops24 commented on #18
@chill117 thanks for this new version. :wink:

[2016-06-01 18:52] cyclops24 opened #25 "Error: Invalid protocol: null"
Hi @chill117 ,

I try to fetch some proxy but it seems it return `Error: Invalid protocol: null` error for many of proxy sources. Is it a bug or I use package in wrong way?

[2016-06-02 09:56] chill117 commented on #25
Are you seeing that error when using the proxies or when getting the proxies via this module?

[2016-06-02 11:32] cyclops24 commented on #25
I see this when try get proxy by `getProxies()` function.

[2016-06-02 13:02] chill117 commented on #25
I'll have a look at it in the next few days.

[2016-06-04 05:09] cyclops24 commented on #25
@chill117 Thanks man. :wink:

[2016-06-04 16:39] cyclops24 commented on #17
@chill117 I see that request module also has a proxy option that can be used like this:

[code]

[2016-06-05 13:01] cyclops24 commented on #19
@chill117 http://googleproxies24.blogspot.com redirect to which source?

[2016-06-06 19:34] chill117 commented on #25
I have run the tests a few times at different days/times, but I have not been able to reproduce your issue. It could just be an issue with your ISP or your IP address being blocked by one or more of the proxy sources. Or, if you are using a proxy via the node proxy environment variable, the proxy/ies you are using to get more proxies could be not working properly?

[2016-06-07 05:50] cyclops24 commented on #25
Hi @chill117 , First thanks for your attention.
Yes I used node proxy environment based on [this issue](https://github.com/chill117/proxy-lists/issues/17) but I think that's not problem because I checked with many proxy with different quality.
@chill117 I used your package as dependency in a Meteor application. If you familiar with Meteor I can create simple test application for more simpler issue

[2016-06-07 09:59] chill117 commented on #25
And what about when you don't use any proxy and you use a VPN instead?

I am familiar with Meteor, but haven't used it for any projects yet. I am not sure if it would cause any problems with this module. You could eliminate Meteor as a suspect if you try using this module outside of Meteor and the problem continues.

[2016-06-08 09:21] cyclops24 commented on #25
Hi @chill117,
I create a simple demo app for using proxy-list in Meteor.js see this man:
https://github.com/MeteorDemoApps/proxy-lists-demo
and specially:
https://github.com/MeteorDemoApps/proxy-lists-demo/blob/master/server/main.js

I used [freegate](http://dongtaiwang.com/loc/download.en.php) as proxy and http://127.0.0.1:8580 in line 13 & 14 is freegate proxy url.
It's my output now:
[code]

[2016-06-08 09:34] chill117 commented on #25
You must comment out [these lines](https://github.com/MeteorDemoApps/proxy-lists-demo/blob/master/server/main.js#L46-L47). Then it will work. You could move them to within the `'end'` event callback function and it will work as well.

[2016-06-08 10:34] cyclops24 commented on #25
@chill117 Ohhhh man. It is a silly mistake :see_no_evil:
I fix that and now my output is: (Just one `Error: ETIMEDOUT` and other source fetched successfully)

[code]
@chill117 is it right way to unset node proxy environment variable?
[code]

[2016-06-08 10:39] chill117 commented on #25
Yes, that is the preferred method of un-setting keys on objects in JavaScript. But from seeing the previous error you were getting (`Invalid protocol: null`), I think the `request` module is treating a `null` value as if it is set and is trying to use it as a proxy. So you might have to set those environment variables to `undefined` (which is a bad practice) or use `delete process.env.HTTP_PROXY`.

[2016-06-08 10:53] cyclops24 commented on #25
@chill117 really thanks for your attention. :heart:
I also done some clean up on code and fix issues (also add `delete process.env.HTTP_PROXY`) and add some readme. You can use it [repo url](https://github.com/MeteorDemoApps/proxy-lists-demo) on proxy-list readme if you think it's useful for meteor users :wink:

[2016-06-08 14:21] cyclops24 commented on #25
@chill117 I close this issue man. Again thanks :wink:

[2016-06-08 14:21] #25 closed

[2016-06-15 10:01] cyclops24 opened #26 "blackhatworld proxies"
Hi @chill117 this forum section also has many proxy and also update daily:
http://www.blackhatworld.com/forums/proxy-lists.103/

[2016-06-16 13:53] #24 closed

[2016-08-06 03:31] nishantsharmajecrc opened #28 "I m getting following error in running proxy-lists CLI command"
nishant@nishant-sjsu:~/workspacejs$ proxy-lists --help

module.js:340
    throw err;
          ^
Error: Cannot find module '.'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/usr/local/lib/node_modules/proxy-lists/cli.js:10:18)
    at Mod

[2016-08-06 11:35] chill117 commented on #28
@nishantsharmajecrc What version of node are you running?

[2016-08-06 11:41] chill117 opened #29 "gatherproxy causes thrown exception"
[cyclops24 wrote](https://github.com/chill117/proxy-verifier/issues/14):

[2016-08-09 10:05] nishantsharmajecrc commented on #28
v0.10.25

[2016-08-09 12:19] chill117 commented on #28
That's a very old version. This module is only supporting node 4 or higher.

[2016-08-09 17:41] nishantsharmajecrc commented on #28
I got it fixed. Added ./ in place of . and it fixed it

[2016-08-29 20:09] th3l0b3 commented on #28
add that to what?

[2016-08-29 20:32] nishantsharmajecrc commented on #28
In cli.js of proxy-lists node module

[2016-08-30 10:20] chill117 commented on #28
Since more than one person has had this issue, I'll add the fix to the project and include it in the next release.

[2016-09-22 03:31] #28 closed

[2016-09-22 03:31] #29 closed

[2016-10-02 14:55] gvuyk opened #30 "freeproxylists parser causes thrown exception"
[code]

[2016-10-05 19:23] #30 closed

[2016-10-12 20:58] stylesuxx opened #33 "CLI: Output format stdout"
I was wondering if it is possible to simply write the proxies to stdout instead of a file?

I am running multiple instances in the same folder and do this for a workaround:

    cd tmp/http && proxy-lists getProxies --sources-white-list="hidemyass" --protocols="http" > /dev/null 2>&1 && cat proxies.txt

If I could write to stdout I could simply redirect the output, without this ugly construct ;-)

[2016-10-13 10:04] chill117 commented on #33
Yes, this is definitely something that should be supported -- maybe even should be the default behavior.

[2016-10-13 10:54] stylesuxx commented on #33
If it is OK or you, I would look into it and submit a PR.

[2016-10-13 10:56] chill117 commented on #33
That would be great. Thank you :)

[2016-10-13 11:46] stylesuxx commented on #26
If you compile a list of the threads of interest, I might take a shot at it (I am not a local there, so I do not know what is of interest/good quality).

Would be cool if you could group it by protocol or even anonymity:
http/https/socks4/socks5/
transparent/anon/elite

Some kind of filtering has to happen, which proxies would we scrape from there - how far back should we go.

[2016-10-16 13:10] cyclops24 commented on #26
Hi @stylesuxx,
I listed some good quality and more active proxy threads below:
http://www.blackhatworld.com/seo/100-free-elite-proxies-every-day-new-fresh-anonymous-proxy-list.755433/page-27
http://www.blackhatworld.com/seo/new-fresh-big-proxy-lists-worldwide-usa-and-elite-proxies-updated-daily.753956/page-22
http://www.blackhatworld.com/seo/gscraper-proxies.703493/page-10
http://www.blackhatworld

[2016-10-19 20:36] stylesuxx opened #35 "Test failing for proxies24"
Pretty sure this was working last week, but the test for proxies24 is failing:

[code]

This seems to be because of the invalid IP address. The proxy is pushed on the invalid proxy list. Not sure if the test should fail - I guess internally such proxies are excluded.

[2016-10-22 20:24] chill117 commented on #35
`838.67.208.17` is an invalid IP address. Some of the unit tests do pull real data from each source. So it is possible that some of the proxies published on some of the sources could be invalid.

I think ignoring these inconsistent errors is the right approach.

[2016-10-22 20:33] #33 closed

[2016-10-26 09:22] stylesuxx commented on #35
For future reference, this check was the reason the test was failing:
https://github.com/chill117/proxy-lists/blob/master/test/unit/sources/index.js#L110

Maybe this should only fail in case the length of `invalidProxies` is the same as of `proxies`, ie.: all proxies are broken...

[2016-10-26 09:29] chill117 commented on #35
Thanks. That sounds reasonable.

[2016-10-26 09:29] stylesuxx commented on #35
I can PR this change - I had it done, just did not push it since the test was not failing anymore,...

[2016-10-26 09:32] chill117 commented on #35
Sure. I think it should check that:
* Each source returns at least one proxy
* At least one of the proxies returned is valid

[2016-10-26 09:35] stylesuxx commented on #35
https://github.com/chill117/proxy-lists/blob/master/test/unit/sources/index.js#L97

assures that at least one proxy was found, and my changes assures that not all are invalid.

[2016-10-26 10:26] #35 closed

[2016-10-26 11:08] stylesuxx opened #37 "Test failing for hidemyass"
Hey it is me again, I hope I do not annoy you too much,...

Test for hidemyass is failing:

[code]

I guess this is because http://proxylist.hidemyass.com/ is not showing any proxies. In this case I guess it is good that the test is  failing, since it tells us that something with the source is wrong, but still I think it should fail controlled at https://github.com/chill117/proxy-lists/blob/master

[2016-10-26 11:10] chill117 commented on #37
Yes, it looks like we could catch the problem inside the hidemyass source itself, so that it doesn't throw an error like it is now.

[2016-11-15 15:39] chill117 commented on #37
Fixed by #38

[2016-11-15 15:39] #37 closed

[2016-11-15 15:43] chill117 commented on #26
Thanks, @cyclops24.

I don't have much time right now, but if anyone would like to jump on this one, I'll be happy to review and merge any PRs.

[2016-11-24 13:35] dabendan2 opened #39 "throw new Error('Data (' + ipType + ') has not been loaded.');"
Hi Chill117,
   I've got below exception today.
   Maybe one of the sources returned ipv6 address?
   It seems ipv6 was disabled by default when invoking GeoIpNativeLite.loadDataSync and there is no any way to enable it.

2016-11-24T13:24:09.725112+00:00 app[web.1]: /app/node_modules/geoip-native-lite/index.js:24
2016-11-24T13:24:09.725115+00:00 app[web.1]: 			throw new Error('Data (' + ipType + '

[2016-11-24 13:40] chill117 commented on #39
Looks like you are correct. What do you think would be the best way to make this configurable?

[2016-11-24 13:56] dabendan2 commented on #39
I just cannot figure out how to catch this async exception.
Anything can bypass this crash is fine for me. XD
I'll suggest something like below if you ask me:

proxy-lists getProxies --iptypes="ipv4,ipv6"

var options = {
    iptypes: ["ipv4", "ipv6"]
};

[2016-11-24 14:02] chill117 commented on #39
I see. Then I think then the best way to fix this would be to move the loading of the geo-ip data to inside the getProxies method(s) and load the data asynchronously. Then we could add an option as you suggest.

I won't have time to do this for at least a few days. If you can put together a fix and submit a PR, I will review and merge it as soon as I can.

[2016-12-08 20:12] 92bondstreet commented on #39
Maybe @antonecma, could you open a PR to solve the bug ;) ?

Thanks

[2016-12-08 20:21] antonecma commented on #39
@92bondstreet, my fix is not implement @chill117 proposal. It is only exclude proxy which throws this error. But I will open PR on this weekend.

[2016-12-09 13:40] chill117 commented on #39
@antonecma I don't think that would solve the root of the problem. This module should support ipv6. And as time goes on, more of the proxy lists will include ipv6 proxies.

[2016-12-23 11:13] hoducha commented on #39
I've submitted a PR to fix the issue follow your ideas.

[2016-12-28 22:19] chill117 commented on #39
Fixed by #41

[2016-12-28 22:19] #39 closed

[2016-12-29 10:32] chill117 commented on #26
The list at [this link](http://www.blackhatworld.com/seo/100-free-elite-proxies-every-day-new-fresh-anonymous-proxy-list.755433/page-27) is posted by MaxiProxies. So I am going to add a new source for MaxiProxies directly (which I found [here](http://maxiproxies.com/proxy-lists/)).

[2016-12-30 17:03] jot-the-coder opened #42 "getProxies break for source "proxydb""
When invoking getProxies(), it always give the following:

[code]

After tracing, I found the following happened along with proxies data of "proxydb". So I find the following lines in "proxydb.js":
https://github.com/chill117/proxy-lists/blob/master/sources/proxydb.js#L33-L35

As "option.countries" expecting object, **is that underscore.js call "map" the cause of problem?** Say, using "_.mapObject

[2016-12-30 18:56] chill117 commented on #42
This was an interesting one. I was able to reproduce the issue and have made a fix. It will be included in the next release.

[2016-12-30 19:06] #42 closed

[2016-12-30 20:56] chill117 commented on #26
I added a new source for the blackhatworld forum. I did it in a way so that we can add new thread URLs easily. I think the format for the proxy lists posted in the forum are pretty standard. You can see the code [here](https://github.com/chill117/proxy-lists/blob/master/sources/blackhatworld.js).

[2016-12-31 05:20] jot-the-coder commented on #42
@chill117 Thanks so much for your fix, your response is really fast! We can enjoy a happy holiday then... 😊

[2017-01-30 18:06] peterkorodi opened #43 "TypeError: Cannot read property 'indexOf' of null"
I've installed proxy-lists:
$ npm install -g proxy-lists

After I've got this error when I'd like to get a proxy list:
$ proxy-lists getProxies --sources-white-list="hidemyass" --stdout
TypeError: Cannot read property 'indexOf' of null

How can I get a proxy list?

[2017-01-31 11:27] chill117 commented on #43
Looks like this is a bug. I am able to reproduce the error. I'll have a look when I get some free time.

Most likely this is just a problem with the "hidemyass" proxy list, and not with the others.

[2017-01-31 11:42] chill117 opened #44 "Add tests for CLI"

[2017-01-31 15:48] chill117 commented on #43
Fixed the issue and release a new version (v1.11.0). I don't have time now, but I will revisit this to add tests for the CLI.

[2017-01-31 15:48] #43 closed

[2017-01-31 16:05] peterkorodi commented on #43
It's working. Thanks

[2017-02-18 06:09] mnlbox opened #45 "Suggestion: update code style to ES6"
Hi @chill117 ,
Thanks for this awesome tool. I suggest to update and refactor code to ES6 style. It's more clear and more robust.

[2017-02-18 11:07] chill117 commented on #45
@mnlbox Thank you for the kind words. Unfortunately, for the near-term I do not plan to migrate the code-bases that I maintain to ES6. I do not yet have much experience working with it. I feel that it would take some dedicated time to learn the syntax and research the features, performance trade-offs, support, etc.

[2017-02-18 13:45] arfianadam opened #46 "Gatherproxy: could not find download link"
How to reproduce:
- Just a fresh install and run the default cli command

Error code:
[code]
any fix to this?
regardless, thank you for making this!

[2017-02-18 13:48] arfianadam opened #47 "Error: connect ECONNREFUSED 112.215.37.181:443"
How to reproduce:
- Just a fresh install and run the default cli command

Error code:
[code]
any thoughts? thanks!

[2017-02-18 14:35] chill117 commented on #46
Looks like gatherproxy has changed the HTML of the page with the proxies download link. I can have a look in the next few days.

[2017-02-18 14:36] chill117 commented on #47
I don't know what that IP address is, but maybe this is related to maxiproxies no longer working (it redirects to dreamproxies.com now).

[2017-02-18 21:34] arfianadam commented on #46
I've checked the code
[code]
Gatherproxy's html in `http://www.gatherproxy.com/subscribe/infos`
[code]
It should return the url correctly. I think it is related to something else?

[2017-02-19 11:44] chill117 commented on #46
Thank you for taking the time to research this. I have fixed the issue with [this commit](https://github.com/chill117/proxy-lists/commit/aa87cd6f4865e0e960ce573907454c427d0ec2ec). The issue was a redirect to www.gatherproxy.com during the login attempt.

[2017-02-19 11:57] #47 closed

[2017-02-19 11:57] #46 closed

[2017-02-27 05:11] arfianadam opened #48 "Error: ETIMEDOUT"
### How to reproduce:
* Fresh install
* `proxy-lists getProxies`

### Log:
[code]
But after some time it returns `Done!` and the proxy list is updated.

[2017-02-27 09:22] chill117 commented on #48
I just ran the tests and it looks like everything is working right now.

It's possible one of the proxy lists was experiencing some temporary problems, causing the timeout. Errors like that shouldn't prevent you from getting proxies from the other working sources.

[2017-02-27 16:25] arfianadam commented on #48
Ah, okay then. Thanks for the reply! Anyway, I was going to add another proxy source. Anything you should mention to me before I look into the code and start replicating?

[2017-02-28 10:02] chill117 commented on #48
That's great! Pull requests for new sources are very welcome :)

Some suggestions:
* Have a look [here](https://github.com/chill117/proxy-lists#addsource) for technical details on adding a source.
* Please create unit tests for parsing HTML/XML if needed.
* Don't forget about the `series` option. If it's set to `true` then you should run asynchronous operations in series (not parallel). This allow

[2017-03-12 22:46] Rudloff opened #49 "Get a specific number of proxies"
Hello,

I have a use case where I know the number of proxies I need so it is not very efficient to get the full list just to use a few.
Would it be possible to add an option that sets the number of proxies to return?

[2017-03-13 10:21] chill117 commented on #49
There is currently the `sample` option which will return some (not all) proxies from each source.

[2017-03-13 14:30] Rudloff commented on #49
It's what I currently use but I have a few issues with it:
* `getProxies --sample` will give me ~500 proxies and it's a waste of time to query all these sources if I only need like 20.
* `getProxies --sample -c fr` will give me ~10 proxies (vs. several hundreds without `--sample`) so I might have to query it several times if I need 20.
* In some cases I just want one proxy and don't care about the

[2017-03-28 02:09] clemmy opened #50 "Samair proxies"
http://samair.ru/proxy/

They're paginated into pages like `http://samair.ru/proxy/list-IP-port/proxy-5.htm`. They have a free list of 600 proxies that are checked pretty frequently.

[2017-03-28 22:00] pmcmanaman opened #51 "Countries black list"
Add a --countries-black-list similar to the --sources-black-list. This would make it easier to grab all proxies except for China for example.

[2017-03-29 15:13] chill117 commented on #49
You can use the `--sources-white-list` option to get proxies from only one specific source. The `--sample` option does limit the number of requests made by each source to the minimum number required to get at least one set of proxies. The response time for each source can vary greatly.

[2017-03-29 15:41] Rudloff commented on #49
I found a workaround: I kill the process once I get enough proxies.

[2017-03-29 15:43] Rudloff opened #52 "Disable logs"
Hello,
Is there a way to disable logs when using `--stdout`?
I tried running `proxy-lists getProxies -l /dev/null --stdout` but it seems it always looks for a local file:
[code]

[2017-03-29 15:45] chill117 commented on #49
That works I suppose :)

[2017-03-29 15:48] chill117 commented on #52
Can't really think of a way to do this at the moment. I'll flag this as a feature request.

[2017-03-29 15:49] #48 closed

[2017-05-04 02:54] thandonguocmo2020 opened #53 "Error: Missing required option (`option.bitproxies.apiKey`)"
**proxy-lists getProxies --countries="'us, ca"**

Getting proxies...
Error: Missing required option (`option.bitproxies.apiKey`): You can get an API key for this service by creating an account at https://bitproxies.eu/
Error: Missing required option (`option.kingproxies.apiKey`): You can get an API key for this service by creating an account at https://kingproxies.com/register
Writing output to C:

[2017-05-04 08:45] chill117 commented on #53
You can safely ignore these errors. If you want to get proxies from either of these sources, you will need to create an account at those services and input your API key as an option when using proxy-lists.

This error is the only one that concerns me. It could be a temporary problem with one of the proxy sources, or one of the source could have changed the structure of their output. I'll have a lo

[2017-05-13 10:56] mnlbox opened #54 "use test as sync function"
Hi @chill117 ,
I try using this library for check some proxies but after some check it's return `Maximum number of open connections reached.` message.
How we can use `test` function as sync function.
Can you help me?

[2017-05-13 11:24] mnlbox commented on #54
I'm sorry it's about https://github.com/chill117/proxy-verifier repo. 😞

[2017-05-13 11:28] #54 closed

[2017-05-13 11:28] mnlbox commented on #54
moved: https://github.com/chill117/proxy-verifier/issues/18

[2017-06-11 05:16] mnlbox opened #55 "Some New Proxy Sources"
Hi @chill117 ,
I found this proxy lists recently:

* ~http://proxyfor.eu/geo.php~ -- old proxies
* [x] http://free-proxy-list.net -- already done
* ~http://rebro.weebly.com/proxy-list.html~ -- old proxies
* [x] https://premproxy.com/list/
* ~https://www.proxicity.io/~ -- only gives one proxy at a time

Maybe useful 😉

[2017-06-28 06:58] 0ArturkA opened #56 "Broken parsers"
hidemyass.js not parsing - the proxy list is no longer accessible by the link indicated in the module.
blackhatworld.js not parsing - TypeError: Cannot read property 'toString' of undefined (on line 101-102)

[2017-07-02 20:45] #53 closed

[2017-07-02 21:08] #49 closed

[2017-07-06 02:48] josephrocca opened #58 "kingproxies doesn't have free plan, but an error is message is shown if you don't pass in an api key"
The title pretty much says it all. Wouldn't expect to be given an error message if there's no free plan - but maybe you wanted it that way. Just thought I'd let you know in case it's a bug :)

[2017-07-09 12:54] chill117 commented on #56
Fixed

[2017-07-09 12:54] #56 closed

[2017-07-13 23:31] damdev opened #60 "blackhatworld proxies are always filtered"
Because their proxies don't have `anonymityLevel` nor `protocol`, and they will be filtered because they are not a valid proxy according to https://github.com/chill117/proxy-lists/blob/master/index.js#L321 .

Thanks!

[2017-07-16 12:46] chill117 commented on #58
I understand what you mean. The reason for the warning message is to inform the user that they won't be gathering proxies from those sources that require an account to get valid proxy data. But I do understand that it can be a bit annoying. Maybe the solution is to add a new option/setting for the proxy-lists module that allows the user to set the verbosity level of the module?

[2017-07-16 12:47] chill117 commented on #55
Thanks for these! I don't have much time to implement all of them, but I will try at least some. If anyone else wants to add any of these, pull requests are always welcome :)

[2017-07-16 12:48] josephrocca commented on #58
That would definitely be a nice option to have. Thanks for the module, by the way. It's great!

[2017-07-16 20:48] chill117 commented on #60
So this isn't so clear. The `options` provided to `getProxies()` is used to filter the proxies after received from each source. For the sources that don't have `anonymityLevel` or `protocol`, this is a problem because they will always be filtered away when using the `anonymityLevels` or `protocols` options.

Possible solutions:
* Keep the proxies (don't filter them away) when they are missing `ano

[2017-07-30 14:27] chill117 opened #62 "Add verbosity option to set the level of error/warning logging"
See #58

[2017-07-30 14:28] #58 closed

[2017-07-30 14:28] chill117 commented on #58
I created a new issue for the new feature idea.

[2017-07-30 14:29] chill117 commented on #52
See #62

[2017-07-30 14:29] #52 closed

[2017-07-30 14:29] chill117 commented on #50
See #55

[2017-07-30 14:29] #50 closed

[2017-07-30 14:30] chill117 commented on #55
#61

[2017-07-30 14:30] #45 closed

[2017-08-01 11:45] chill117 commented on #26
All active blackhatworld threads mentioned here have been added.

[2017-08-01 11:45] #26 closed

[2017-08-07 09:51] chill117 commented on #17
A nice solution could be to add a new option for all the `getProxies` functions in this module - `requestOptions` which could be used to extend the options passed to the request module.

[2017-08-07 10:02] rom1504 commented on #17
It could also be possible to pass a request "instance" to the `getProxies` functions using request.default with proxy settings already set, see https://github.com/request/request#requestdefaultsoptions

[2017-08-10 17:45] #55 closed

[2017-08-10 17:46] chill117 commented on #55
All proxy lists here are either already implemented or don't give new, working proxies.

[2017-08-10 18:13] chill117 commented on #51
Done, will be included in the next release.

[2017-08-10 18:13] #51 closed

[2017-08-10 20:59] chill117 commented on #60
Added new `filterMode` option. Default is `'strict'`, which will maintain the current behavior of the module. Use `filterMode: 'loose'` to include proxies with NULL or missing values.

[2017-08-10 20:59] #60 closed

[2017-08-10 22:07] chill117 commented on #17
I am currently working on this:
https://github.com/chill117/proxy-lists/tree/request-options

[2017-08-11 08:47] chill117 commented on #17
Done, will be included in the next release.

[2017-08-11 08:47] #17 closed

[2017-08-12 08:11] RhoidRage opened #64 "TypeError: options.request is not a function"
This error always shows when executing "proxy-lists getProxies": TypeError: options.request is not a function

I've tested this on a Windows and Linux machine and the results are the same: The code stops and doesn't write proxies to a text file.

[2017-08-12 08:14] RhoidRage commented on #64
This occurs when executing "proxy-lists getProxies"
I've tested this on a Windows and Linux machine and the results are the same: The code stops and doesn't write proxies to a text file.

[2017-08-12 08:18] fa7ad commented on #64
Same here

[2017-08-14 11:51] chill117 commented on #64
Fixed and released v1.14.1

[2017-08-14 11:51] #64 closed

[2017-08-19 19:43] ddaaii opened #65 "New source"
link: http://pubproxy.com/
api: http://pubproxy.com/api/proxy?limit=20&format=txt

[2017-08-22 09:08] chill117 commented on #65
I won't have time for a while. So if anyone want to tackle this one, pull requests are welcome :)

[2017-09-24 14:08] #44 closed

[2017-10-27 06:57] vvbhandare opened #66 "How to get proxies of different countries and cities"
How to get proxies of different countries and cities?
Do you have any document for the same, if yes please share.

[2017-10-27 08:40] chill117 commented on #66
Hi @vvbhandare
This module does not support city-level specificity for geolocation. But you can get proxies based on their country. If you need the city too, I recommend using [node-geoip](https://github.com/bluesmoon/node-geoip) to check each proxy's IP address.

[2017-11-10 11:55] chill117 opened #67 "Broken source: incloak"
incloak.com is now hidemy.name

* HTML looks mostly unchanged
* Now hosted with Cloudflare's DDoS protection, so JavaScript is required to access the site. Solution is to use a headless browser like Chrome via [Puppeteer](https://github.com/GoogleChrome/puppeteer)

[2018-01-05 12:14] Stiveknx opened #68 "bitproxys API key on CLI"
Which argument should I pass on CLI to use bitproxys API?

[2018-01-16 21:39] cFire commented on #68
I've also been looking at this. I'm not too well versed in node, but it looks like this is not (yet) implemented in the CLI tool.

[2018-04-18 08:48] popeyebot opened #71 "Examples for custom sources"
I want to add this sources : https://proxyjesus.com/

How I can do that ? I have emitter handle error event when i use the code on the main pages.

[2018-04-23 14:56] chill117 commented on #71
Looks like that source is no longer active.

Here are some details about how to add your own custom sources:
https://github.com/chill117/proxy-lists#addsource

[2018-05-03 12:00] chill117 commented on #66
Closed as this was answered.

[2018-05-03 12:00] #66 closed

[2018-05-03 12:00] #71 closed

[2018-05-03 12:26] chill117 opened #72 "Broken source: premproxy"
The port numbers are not being scraped properly.

[2018-05-08 20:06] robjane opened #73 "Small fix for proxydb.net"
https://github.com/chill117/proxy-lists/blob/183991e2efc26604196cb7e26f9393277b64e08c/sources/proxydb.js#L114

[code]
I didn't execute your code, but I stole the method in your code to extract proxies from `proxydb.net`. I noted that the last letter in `datanum` is randomized. I supposed this small adjustment might fix it.
If `html.body` exists that is.

[2018-05-15 22:25] Oniry opened #74 "New proxy sources to add"
* [x] http://www.workingproxies.org/
* [x] http://www.proxylists.net/
* [x] http://proxy-list.org
* [x] http://www.nntime.com/
* ~http://aliveproxy.com~ (very limited in number of proxies that can be scraped)
* [x] http://tools.rosinstrument.com/proxy/

Part of the resources I found.

[2018-06-08 17:55] ftballpack commented on #65
FYI, I am using a third party program to verify results. I have tested the text link several times now and I have yet to get one working SSL proxy from the list above. I honestly do not think the source is worth adding, as I have yet to get one positive result from them.

[2018-06-11 17:50] Raslin777 commented on #39
This error seems to have resurfaced?
[code]

[2018-06-11 17:55] Raslin777 opened #75 "ipType Error"
Looks like it has a problem getting the ipType

[code]

[2018-06-11 18:21] Raslin777 commented on #75
This seems to temp fix the issue:
proxy-lists getProxies  --ip-types ipv4,ipv6

[2018-06-12 18:04] lolgans commented on #75
You can also set it directly in the options object:
`
const proxyOptions: Options = {
    ipTypes: ['ipv4']
};
`

[2018-06-27 06:27] gameguardadmin opened #76 "throw new Error('Data (' + ipType + ') has not been loaded.')"
`D:\NewProject>proxy-lists getProxies --stdout
Error: Missing required option (`option.bitproxies.apiKey`): You can get an API key for this service by creating an account at https://bitproxies.eu/
Error: Missing required option (`option.kingproxies.apiKey`): You can get an API key for this service by creating an account at https://kingproxies.com/register
C:\Users\!\AppData\Roaming\npm\node_module

[2018-06-27 12:22] chill117 commented on #76
Closing this issue because it is a duplicate of #75

Some other users have posted a temporary solution there which could work for you as well.

[2018-06-27 12:22] #76 closed

[2018-06-28 05:29] parsibox opened #77 "Problem with proxies24 source"
hi
when i run example at end of output say this error :

[code]

my node version is
[code]
on centos 7 64 bit

[2018-06-28 05:33] parsibox commented on #77
[code]

[2018-07-15 20:35] thorncorona commented on #77
You don't have the right certificates installed. See: https://www.npmjs.com/package/ssl-root-cas for possible solutions

[2018-08-10 17:53] chill117 commented on #62
Handled in latest version

[2018-08-10 17:53] #62 closed

[2018-08-10 17:53] chill117 commented on #67
Fixed in latest version

[2018-08-10 17:53] #67 closed

[2018-08-10 17:53] chill117 commented on #75
This has been fixed in the latest version.

[2018-08-10 17:53] #75 closed

[2018-08-10 17:54] chill117 commented on #73
proxydb fixed-up in latest version

[2018-08-10 17:54] #73 closed

[2018-08-10 17:54] chill117 commented on #72
Fixed in latest version

[2018-08-10 17:54] #72 closed

[2018-08-10 17:54] chill117 commented on #68
Fixed in latest version. The warnings will be written to a separate logs file now.

[2018-08-10 17:54] #68 closed

[2018-08-11 21:19] jerradpatch opened #79 "options.protocols = ['https']"
does not return proxies containing solely https proxies

[2018-08-11 21:35] jerradpatch opened #80 "bug?"
https://github.com/chill117/proxy-lists/blob/2c34b37755b5572dee0cd2e3ba101b94d7200785/index.js#L169

did you mean filter.include  and filter.exclude ?

[2018-08-12 18:28] chill117 commented on #79
Fixed by [this commit](https://github.com/chill117/proxy-lists/commit/cb6c151d720719b14cafd25d824ca81182f6b9ac)]

[2018-08-12 18:28] #79 closed

[2018-08-12 18:29] chill117 commented on #80
Yes :)

This has been fixed by [this commit](https://github.com/chill117/proxy-lists/commit/cb6c151d720719b14cafd25d824ca81182f6b9ac)

[2018-08-12 18:29] #80 closed

[2018-08-14 07:38] chill117 opened #82 "Review sources for observing series and sample options"

[2018-08-14 07:41] chill117 opened #83 "New source + abstract (blogspot)"
Create a new abstract for scraping proxies from sites hosted on blogspot.

* [x] New source - https://proxy50-50.blogspot.com/
* [x] Switch existing source (proxies24) to new abstract

[2018-08-21 15:35] igrok2016reg opened #84 "ERROR"
Getting proxies... Writing output to D:\nodejs/proxies.txt Error: unable to verify the first certificate TypeError: Cannot read property 'length' of undefined Error: waiting for selector ".proxytbl tbody tr:not(:first-child)" failed: timeout 30000ms exceeded

8 o'clock. Is it serious?

[2018-08-23 02:36] ledlamp opened #85 "Cannot install globally"
[code]

[2018-08-23 02:48] ledlamp opened #86 "Not getting any socks proxies"
All proxies I ever get either have no `protocols` property, or `protocols` is `["http"]`.

Example: https://gist.githubusercontent.com/ledlamp/b494b4f1ce13575eeb3ffbbc07fbacf6/raw/5c0ea0dd1375bb94132bc23e05b636828f0eff80/proxies.txt

[2018-08-23 08:43] chill117 commented on #85
I think the use of `sudo` is disallowed by default when installing puppeteer. Try install proxy-lists without the sudo: `npm install -g proxy-lists`

[2018-08-23 08:46] chill117 commented on #86
Some of the recently fixed sources only include basic information right now. The master branch includes some changes that will scrape more info like protocol and anonymity-level, but that hasn't been included in a release yet.

[2018-08-23 08:52] chill117 commented on #84
As long as the error doesn't crash the process or otherwise interfere with gathering other proxies, it's fine to ignore.

[2018-08-23 17:17] ledlamp commented on #85
oh, that worked. I thought installing anything globally requires root

[2018-08-23 17:17] #85 closed

[2018-09-18 13:35] jerlam06 opened #88 "Can't get proxies ?"
Hi, here is my code:

[code]

Shouldn't this code give me an object of proxies?:

`gettingProxies.on('data', function(proxies) {
	// Received some proxies.
	console.log(proxies);
});`

[2018-09-18 13:48] chill117 commented on #84
Answered

[2018-09-18 13:48] #84 closed

[2018-10-15 10:56] chill117 commented on #86
Released a new version, so you should be getting a decent number of socks proxies now with the following command:
[code]

[2018-10-15 10:56] #86 closed

[2018-10-15 10:57] chill117 commented on #82
[x] XML source abstract

[2018-10-15 12:19] chill117 commented on #88
I've tested your code with the latest version of proxy-lists. It appears to be working. Some errors will be printed to the console, but that's normal. You should receive proxies from the sources that are working.

[2018-10-15 12:19] #88 closed

[2018-10-15 12:31] chill117 commented on #74
All useful proxy lists from this issue have been added.

[2018-10-15 12:31] #74 closed

[2018-10-27 13:53] group2tts opened #89 "How to get a certain amount?"
how can i get only 10 proxies ?

[2019-01-19 15:36] ridarf commented on #89
@group2tts Seems as though every source is pulled from differently, but what you can do is a for loop to add only the first three to an array, and reference that array. :)

[2019-02-04 18:45] aorfevre opened #90 "END Event is not called"
Hi,

The end event is not called on my side.

My option is :
[code]

Moreover; I have that issue that is showing up
[code]

Thank you for your support,

Looking forward to provide you more info if necessary

[2019-02-24 08:10] mattwalter91 commented on #90
Did you ever resolve this issue? I'm having the same problem...

[2019-03-27 16:47] aorfevre commented on #90
No. I ended up having a setTimeout.

[2019-03-27 16:49] aorfevre opened #91 "Broken sources ( see list inside )"
The following sources are not working on my side:

* [x] blackhatworld
* [x] bitproxies
* [x] coolproxy
* [x] freeproxylist
* ~[ ] kingproxies~
* [x] new-net-time
* [x] proxy-list-org
* [x] proxydb
* [x] proxylists-net
* [x] rosinstrument
* [x] sockslist
* [x] xroxy

(checked = fixed)

To prevent bugs I have to use `sourcesBlacklist` to skip them. Anyone has maintained those sources?

[2019-05-12 01:25] razorcell commented on #91
Hi,

I'm having issues using proxies in 'Requests' module:

I have tried the following with proxy variable

IP:PORT
http://IP:PORT
https://IP:PORT
tunnel: true / false

**Nothing worked.**

**All good if i disable the proxy**, i have tried thousands of proxies. i wrote 2 function to extract from 2 sources, no proxy worked even though the proxies are working using a proxy testing website (https://h

[2019-05-12 01:46] razorcell commented on #91
For anyone with same issue:

I fixed it.

In this post, they say that Request handles https through http proxies, meaning https proxies will not work.

'https://stackoverflow.com/questions/3862813/how-can-i-use-an-http-proxy-with-node-js-http-client'

FIX: don't use HTTPS proxies with npm (Request) module.

[2019-05-23 02:01] Celuni opened #92 "Option countries capital letters won't find any matches"
using countries: ['UA', 'CA'] won't find any proxy, need to be lower case

[2019-06-02 18:04] marcpre opened #93 "Error: [proxydb] waiting for selector "table tbody tr" failed: timeout 30000ms exceeded"
Hello,

I am using `"proxy-lists": "^1.16.0",` with `node v10.15.3` and when executing:

[code]

I am getting the following error:

[code]

Any suggestion what i am doing wrong?

I appreciate your reply!

[2019-06-27 14:46] strarsis commented on #89
It would be nice to limit this in the method to avoid many unnecessary requests.

[2019-07-03 11:53] chill117 commented on #92
Done by #95

[2019-07-03 11:53] #92 closed

[2019-07-03 15:37] chill117 commented on #93
From time to time the sources break because the web resources change their structure. See #91 for a full list of broken and fixed sources.

[2019-07-03 15:37] #93 closed

[2019-07-03 15:38] chill117 commented on #77
Appears to be working now.

[2019-07-03 15:38] #77 closed

[2019-07-05 12:21] chill117 commented on #91
Fixed all remaining sources

[2019-07-05 12:21] #91 closed

[2019-07-05 12:21] chill117 commented on #82
Done

[2019-07-05 12:21] #82 closed

[2019-07-08 13:50] chill117 opened #96 "Filter by IP type (ipv4/ipv6)"
* `ipTypes` option should behave as a filter
* If both `ipv4` and `ipv6` types are specified, then do not filter by the IP address type.
* If one or the other type is specified, then do filtering by type.

[2019-07-11 12:21] chill117 commented on #90
This should be fixed now with the latest release (v1.18.0)

[2019-07-11 12:38] stylesuxx commented on #90
@chill117 just upgraded to v1.18.0 still the **end** event does not seem to be emitted...

[2019-07-11 14:42] chill117 commented on #90
Re-opening this as it looks that some of the sources will hang forever if they have encounter some error.

[2019-07-11 19:28] stylesuxx opened #98 "protocols and anonymityLevels options mutually exclusive?"
I can find proxies with **either** the `protocols` or the `anonymitiLevels` option - as soon as I filter for both, my result is empty:

Has results:

    proxy-lists getProxies --protocols="http,https"
    proxy-lists getProxies --anonymity-levels="anonymous,elite"

Has no results:

    proxy-lists getProxies --protocols="http,https" --anonymity-levels="anonymous,elite"

[2019-07-12 10:20] chill117 commented on #98
I am not able to reproduce the issue. Are you sure you're using the latest version?

[code]

[2019-07-12 11:02] stylesuxx commented on #98
Jup:

    proxy-lists --version
    1.18.0

[2019-07-12 11:46] stylesuxx opened #99 "Tests broken"
Sorry - I must be annoying.
I think something with your tests is broken - if you check out the last build logs on travis, there are only two test cases - both pass, but still, there are more tests to be run - am I missing something?

https://travis-ci.org/chill117/proxy-lists/jobs/557401567

[2019-07-12 12:23] chill117 commented on #99
Not annoying :) Thank you!

I have removed the `.only` from the mocha test (test/unit/cli.js) that was preventing the other tests from running.

[2019-07-12 12:23] #99 closed

[2019-07-12 12:25] chill117 commented on #98
That's possible. I am working on the lower level [data-sourcer](https://github.com/chill117/data-sourcer) module that this project depends on. I am adding more tests to catch all the various failure/error cases so that errors don't just get swallowed.

[2019-07-12 12:31] stylesuxx commented on #98
I already thought so. Most of the proxy sources fail for me getting proxies (without errors - the tests time out). This also seems to be the reason for #90

[2019-07-13 18:27] stylesuxx opened #100 "Passing options to DataSourcer"
It would be great to pass options to the `DataSourcer` - especially regarding options for _puppeteer_.

[2019-07-15 19:16] chill117 commented on #100
I want to do this, but it requires changes to the way ProxyLists is loaded by the user. So it would require a major version bump (2.x.x). Do you have an idea for the API/interface?

[2019-07-15 19:21] stylesuxx commented on #100
I am not sure it really does - when invoking the getProxies method you are passing options can't we pass options to be passed to DataSourcer here?

[2019-07-15 19:22] chill117 commented on #100
No, because the DataSourcer instance is created at run-time when the ProxyLists module is required:
https://github.com/chill117/proxy-lists/blob/9bdf31f0cad522ae8f8376ca1a0917d4d30304e6/index.js#L13-L19

[2019-07-15 19:34] stylesuxx commented on #100
I see. How about a method that overrides the sourcer attribute:

[code]

[2019-07-16 15:58] stylesuxx commented on #90
For me this was fixed with https://github.com/chill117/data-sourcer/commit/1e0ddd937955a0066371096c4003430f218dff7e

[2019-07-16 15:58] stylesuxx commented on #98
FYI: this is still an issue for me, even after this https://github.com/chill117/data-sourcer/commit/1e0ddd937955a0066371096c4003430f218dff7e fixed most of my other problems.

[2019-07-16 16:07] chill117 commented on #98
The default filter mode is "strict" - meaning that if you specify that you want proxies with anonymity-levels of elite or anonymous, any proxies without the anonymity-level attribute will be omitted. Same for protocols. Many of the sources are missing these attributes at the moment.

[2019-07-16 16:07] stylesuxx commented on #98
Am Di., 16. Juli 2019 um 18:07 Uhr schrieb Charles Hill <
notifications@github.com>:

--
*Chris Landa*
Software Engineer

E-Mail: stylesuxx@gmail.com
Jabber: stylesuxx@jabber.bubblesort.me
Github <https://github.com/stylesuxx> | Bitbucket
<https://bitbucket.org/stylesuxx/> | Twitter <https://twitter.com/stylesuxx> |
Xing <https://www.xing.com/profile/Chris_Landa>

[2019-07-16 16:09] stylesuxx commented on #98
Yup, that's it - sorry for bothering you with that...

[2019-07-16 16:09] #98 closed

[2019-07-17 16:25] rraallvv opened #101 "Filter by timeout"
Is there a way to filter the list by the response time? Keep up the good work.

[2019-07-24 15:06] chill117 commented on #90
@stylesuxx

I've made significant improvements to the under-lying data-sourcer module - in particular the list-crawler abstract. I have not yet created a new release for proxy-lists module, but I will in the coming days.

Can you please checkout and test the latest proxy-lists master branch and let me know if the situation has improved for you?

[2019-07-24 15:13] chill117 commented on #83
Done

[2019-07-24 15:13] #83 closed

[2019-07-24 20:01] stylesuxx commented on #90
@chill117 I checked out `proxy-lists` master and `data-sourcer` looking good so far, but I still have this issue => https://github.com/chill117/data-sourcer/pull/16

But other than that, end signal is definitely emitted.

[2019-07-25 09:20] chill117 commented on #90
Closing this issue as the end event is now sending properly. I've created a separate issue for cleaning up the browser tabs in the data-sourcer module:
https://github.com/chill117/data-sourcer/issues/17

[2019-07-25 09:20] #90 closed

[2019-07-25 09:26] Vearmox opened #102 "END event gets emitted multiple times"
[code]
Excecuting this code results in the following terminal output:
[code]

[2019-07-26 11:40] chill117 commented on #102
A lot of work was done to improve error handling and to ensure that the end event for each source is emitted properly. These changes have now been included in the latest release (v1.19.0)

Can you please retry your test with the latest version?

[2019-08-03 11:51] chill117 commented on #100
Can now pass options to [dataSourcer](https://github.com/chill117/data-sourcer#getdata) when calling `getProxies` and `getProxiesFromSource`. Most relevant options:
* `browser` - Options object passed to [puppeteer.launch(options)](https://pptr.dev/#?product=Puppeteer&version=v1.19.0&show=api-puppeteerlaunchoptions)
* `sourcesDir` - Directory path where your sources are defined. Default is the "so

[2019-08-04 11:15] wfoojjaec opened #103 "New proxy sources"
Had a similar project, but have trouble migrating old phantomjs code. So listing as much useful info as possible:

- [x] https://checkerproxy.net/
[code]
- [x] http://foxtools.ru/
[code]
- [x] http://freeproxylists.net/
[code]
- [x] https://hidester.com/
[code]

[2019-08-26 20:51] #100 closed

[2019-09-11 09:37] chill117 commented on #39
This was fixed in a prior release. Please upgrade to the latest version of proxy-lists.

[2019-11-14 11:52] chill117 commented on #102
I've run the code cited above and I see only one "test" output to the console. So I will mark this as closed.

[2019-11-14 11:52] #102 closed

[2019-11-14 23:15] chsnt opened #104 "How to use a proxy to get proxies?"
As far as I understand ```ProxyLists.getProxies``` use module [request](https://www.npmjs.com/package/request) for http(s)-requests.
Can i set my options for request? I want to use my proxy for get proxy lists ;3

[2020-02-10 13:47] salesiss opened #105 "CLI: Running out of memory while running in VPS"
After serving for years with enormous contribution proxy-lists stopped giving results today-suddenly. Problems started aproximatly last february 1st, 2020. For testing pourpouses, we started a new instance of:

Spun new Ubuntu 19.10 vps, on vultr.com (1gbram,25ssd)

We did:

[code]

node --version: v10.15.2
npm --version: 5.8.0

Results:

root@vultrmia1:/home/proxy-lists# . /cli.js
root@vultrmia1:

[2020-02-11 02:24] salesiss commented on #105
Wich error messages are we getting ?

1. Those related to pupetter/chrome not installing. Solved  with:
#npm install -g proxy-lists --unsafe-perm=true --allow-root

2. Related to sandbox. Solved with:
create user #useradd run001 #mkdir /home/run001 #chown -R run001:run001 /home/run001
run program #runuser -l run001 -c 'proxy-lists getProxies --stdout'

3. Related to chrome/pupetter (timeouts,etc)-

[2020-02-11 08:55] chill117 commented on #105
Hello, @salesiss. It sounds like the program is running out of memory. For each proxy list that is scraped, a new chrome tab is created via puppeteer. By default this is done asynchronously. So in the worst case there could be dozens of tabs open simultaneously. To prevent this, you can pass `--series` to the CLI command. This will run all operations in series instead of in parallel. Hope that hel

[2020-02-11 09:15] chill117 commented on #104
Hello, @chsnt. This is an interesting idea ;) This is a little bit tricky because this module uses both request and puppeteer under-the-hood to scrape web pages. So you will have to configure both of those to use a proxy. Something like this should work:
[code]
Replace the proxy strings with your proxy details.

[2020-03-08 11:31] strech345 commented on #53
And how does the config for this should look like?

[2020-03-08 11:49] strech345 opened #108 "Validate Proxies"
for my request i got not valide proxy. Would be nice if your api woud filter unvalide proxies
`{ipAddress: ".", country: null, source: "coolproxy"}`

[2020-03-22 10:47] salesiss commented on #105
Thank you chil117, it worked. It's been running now for a month without issues.

An example may follow as we used --sources-white-list=bitproxies.js ; --sources-white-list=coolproxy.js ; --sources-white-list=bitproxies.js ; and so far, instead of --series to have better control of execution. Anyway excellent job of yours !

[2020-03-22 10:47] #105 closed

[2020-03-24 16:22] YourSocialBot opened #110 "Package not working in electron app"
The package works for me if I run my app via console but after packaging the electron app it wont anymore. Same for servers I am not able to run the package on servers.

[2020-03-24 17:40] chill117 commented on #110
Hello @YourSocialBot

This module uses puppeteer (runs a headless browser process) to scrape web pages. You will need to do some additional setup on your server(s) to make this module work:
https://github.com/puppeteer/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-the-cloud

As for running from an electron app, that I have never tried. Please try to run your electron app with

[2020-03-24 18:12] chill117 commented on #110
https://www.electronjs.org/docs/api/environment-variables

[2020-03-24 19:30] chill117 commented on #110
I think you can set environment variables for the packaged app and then check the log files.

[2020-03-25 11:20] mifi commented on #110
There is a package [puppeteer-in-electron](https://www.npmjs.com/package/puppeteer-in-electron) which allows us to use an electron browser window in the running electron as the puppeteer runner.

Not exactly the same, but I needed to run puppeteer in Electron and was able to solve it with that library. You can see how I solved it here:
https://github.com/mifi/SimpleInstaBot/blob/master/public/elec

[2020-04-21 15:52] csandman opened #111 "Source Not Working: Proxy Nova"
When running tests, the source proxy https://www.proxynova.com/proxy-server-list/ isn't working.

<img width="747" alt="Screenshot 2020-04-21 11 34 14" src="https://user-images.githubusercontent.com/9214195/79885941-ddba6e00-83c5-11ea-9fd9-45992584892b.png">

the site is still working, it appears that the issue has to do with the regular expression that extracts the IP address:

<img width="571" a

[2020-04-21 21:19] csandman opened #113 "Source Not Working: spys-one"
The tests for the source http://spys.one/en/ are failing.

![image](https://user-images.githubusercontent.com/9214195/79914893-00fc1200-83f4-11ea-95d6-f5b481fd7de1.png)

This is due to the selectors for the IP address and the port not working

![image](https://user-images.githubusercontent.com/9214195/79915015-33a60a80-83f4-11ea-8bc5-8d04d1ad1d1f.png)

I have a fix for this and will make a pull re

[2020-04-22 04:24] csandman opened #115 "The country field is not being pulled"
I noticed the `country` field is returning null for all proxy sources.  I looked through the code and noticed this:

[code]

I see the `ipAddress` field is being passed to the `lookupIpAddressCountry` function but it's not being received by the function, and in the `geoip.lookup` call its trying to pass the ip from the full proxy object.  I can't tell if this is just something I'm missing or it's

[2020-04-28 22:16] #103 closed

[2020-04-29 13:01] chill117 commented on #115
Fixed and will be in the next release.

[2020-04-29 13:01] #115 closed

[2020-04-29 13:02] chill117 commented on #108
This has been fixed and will be in the next release. Proxies that are not valid (e.g without a valid IP address) will be filtered out.

[2020-04-29 13:02] #108 closed

[2020-04-29 13:10] #104 closed

[2020-04-29 13:12] #111 closed

[2020-04-29 13:13] #113 closed

[2020-04-29 13:26] csandman commented on #115
Great, thanks for the response!

[2020-04-29 21:02] csandman opened #116 "Source Not Working: hugeproxies"
The source huge proxies from https://hugeproxies.com/ appears to no longer be working and should possibly be removed

[2020-04-29 21:10] csandman commented on #116
![image](https://user-images.githubusercontent.com/9214195/80647360-53fd4700-8a3c-11ea-8cce-33598481f729.png)

[2020-04-29 21:59] csandman opened #118 "Source Not Working: proxylists-net"
The rss feed for http://www.proxylists.net/ is no longer working.

![image](https://user-images.githubusercontent.com/9214195/80650935-ef91b600-8a42-11ea-9348-4791ac6b394b.png)

It would be possible to convert it to a list crawler but after looking around the site a little bit, it seems like its just out of date overall and probably not worth keeping.

[2020-04-30 10:41] chill117 commented on #116
Done by 5a518032983c936dcfe3e5550771ca5be73d039c

[2020-04-30 10:41] #116 closed

[2020-04-30 10:43] chill117 commented on #118
Removed source by 9a1f096fad855ea3ad98c4a2d975b15e329cc71b

[2020-04-30 10:43] #118 closed

[2020-04-30 11:43] Sasstraliss opened #120 "Using async/await?"
How can I use this library using async/await syntax?

[2020-04-30 11:52] Sasstraliss commented on #120
Might've worked it out:

[code]

[2020-05-14 11:14] scramblr commented on #53
there's zero documentation on how to configure API keys from what I can see, can you please explain more?

[2020-05-19 17:15] chill117 commented on #120
Hello, @Sasstraliss
There are a couple problems with the code snippet above:
* The module name is `"proxy-lists"` not `"ProxyLists"` - see the `require()` statement.
* The `"data"` event will fire many times - not just once

If you really want to use a async/await you can buffer the proxies you've received via the `"data"` event and then resolve your promise with all the proxies.

[2020-05-19 17:16] chill117 commented on #96
Not much need for this feature.

[2020-05-19 17:16] #96 closed

[2020-05-21 08:46] gvojtko opened #122 "How to get all the proxy data in the output?"
How to get all the proxy data in the output? I need to store data about the country, level of anonymity, protocol, etc.

[2020-05-21 13:28] gvojtko opened #123 "Error while scraping foxtools: Error: connect ECONNREFUSED 78.46.216.174:80"
Error while scraping foxtools: Error: connect ECONNREFUSED 78.46.216.174:80

--sources-black-list=foxtools not exlcude source from getProxies and method return error message.

[2020-05-21 21:28] gvojtko commented on #122
Solved!

[2020-05-21 21:28] #122 closed

[2020-05-22 12:01] maroz opened #124 "Can't grab a list of proxies because of TypeError"
I'm trying to grab a list of proxies using the following command:
`
$ proxy-lists getProxies --sources-white-list="gatherproxy,sockslist"
`
Each time I receive the following error message:
`
$ proxy-lists getProxies --sources-white-list="gatherproxy,sockslist"
internal/util.js:209
    throw new errors.TypeError('ERR_INVALID_ARG_TYPE', 'original', 'function');
    ^

TypeError [ERR_INVALID_ARG_TYPE

[2020-08-17 14:50] leonardomso commented on #122
How did you do it? @gvojtko

[2020-10-08 13:22] itsdarrylnorris opened #127 "Does anyone find reliable proxies from this project?"
I have this project running a cron job every hour and collecting IP addresses and running test bases on those IP addresses. I mostly get timeouts and unreliable IP addresses.

Even if I health checks them using node-fetch with a timeout and HTTP proxies, they are not reliable enough to be used for scrapping multiple times. I am running these tests using node-fetch, puppeteer, and I am still gettin

[2020-10-09 18:23] csandman commented on #127
I have had a similar experience but I don't think its an issue with this project, just the general unreliability of free proxy sources.  The main benefit of this project is that you can collect thousands and thousands of proxies that might work and then like you said, check them for whether or not they work and end up with some that work.

If you keep a database that is updated with a cron job, yo

[2020-10-10 08:07] itsdarrylnorris commented on #127
I agreed, the project is great.

My cron job was running every 2 hours, and I was just trying to scrape few pages few times every hour or so and that did not work well for me.

I was considering on making an API for free to get these IP addresses automatically, but if not reliable enough for me, it's not worth the effort. :(

[2020-11-14 16:09] vladislav-puzyrev opened #129 "Why does this package not work on the frontend?"
Hi. I would like to know if this package can work on the frontend via webpack? Now i get an error - "JavaScript heap out of memory".

Thanks for you package! 🎉

[2021-01-31 16:02] geotrev opened #130 "Example with puppeteer?"
Hi there!

I was hoping to use a proxy list tool like this for some automated testing. Is there an example with puppeteer you could provide? I'm not sure how to tie this into it based on the readme.

Thanks!

[2021-02-03 14:16] fbagjug opened #131 "Data event ends early or end event doesn't fire causing process to close"
After some testing and logging I watched all of the proxies come through and at one point it randomly stopped and ended the process without firing my function or the end event being called. Just wondering if anyone has a fix for this?

[2021-02-04 11:02] chill117 commented on #129
This project is intended to be used from the CLI or from another node.js application. It is not intended to be run within a browser. As to the "why" in your question: The project uses [puppeteer](https://github.com/puppeteer/puppeteer) to gather proxies from public proxy sources, which runs a headless browser. It's not possible to run a browser in a browser.

[2021-02-04 11:05] chill117 commented on #130
The best approach is probably to use this project to build your own database of proxies. Then your other application can read from that database and run its own instance of puppeteer with the proxies. Also note that the proxies from the public proxy sources tend to be unreliable. So as few as 5% of them may actually work.

[2021-02-04 11:08] chill117 commented on #131
Can you please provide the application code related to this module?

[2021-02-04 11:13] fbagjug commented on #131
[code]

[2021-02-04 11:42] chill117 commented on #131
I've tried the code. It takes a few minutes, but the end event fires as expected.

[2021-02-04 12:10] fbagjug commented on #131
For me it caused the process to completely end, weird 🤔

[2021-02-04 15:12] chill117 commented on #131
If there is no longer any code in the event loop waiting to run, then the process will exit. That is expected behavior in node.js.

[2021-02-04 15:19] fbagjug commented on #131
There should be code in the event loop considering I trigger a function as soon as the proxies are done scraping, to further prove my theory on it I attempted to log the end event and the log didn't come through either. I will keep testing and get back to you

[2021-02-04 16:28] fbagjug commented on #131
![image](https://user-images.githubusercontent.com/34402846/106923365-e4706280-6705-11eb-9213-8df18fc51528.png)
![image](https://user-images.githubusercontent.com/34402846/106923452-fd791380-6705-11eb-8ea1-d4263f044380.png)

[2021-02-04 16:36] fbagjug commented on #131
![image](https://user-images.githubusercontent.com/34402846/106924500-09190a00-6707-11eb-8dc5-9cf091a8ca03.png)
Looking at the errors that is the thing given on the process end

[2021-02-04 16:36] fbagjug commented on #131
![image](https://user-images.githubusercontent.com/34402846/106924617-23eb7e80-6707-11eb-81c5-f0085ae30bd4.png)
This is the error given on process stop

[2021-02-05 13:47] fbagjug commented on #131
No I'm in fact stupid I apologise

[2021-02-05 13:47] #131 closed

[2021-02-18 20:16] DJilanov commented on #127
Around 5% of the proxies are fine just test them and verify before using them

[2021-03-22 01:32] jwdeaa commented on #127
new proxy list:
http://pzzqz.com

[2021-03-22 14:45] csandman opened #132 "New Source: https://pzzqz.com/"
A new source which should be added:

https://pzzqz.com/

[2021-03-23 21:04] Don-Cryptus commented on #120
This is an example for a async promise based solution

`const ProxyLists = require('proxy-lists');

const getProxyList = () => {
	return new Promise(resolve => {
		let proxies = [];
		ProxyLists.getProxies({ protocols: ['https'] })
			.on('data', p => p.forEach(p => proxies.push(`${p.ipAddress}:${p.port}`)))
			.once('end', () => resolve(proxies));
	})
};

const run = async () => {
	const proxyLis

[2021-03-23 21:08] Don-Cryptus commented on #120
This is an example for an async function

[code]

[2021-03-25 13:23] hrvojej opened #133 "Could not find browser revision 768783. Run "PUPPETEER_PRODUCT=firefox npm install" or "PUPPETEER_PRODUCT=firefox yarn install" to download a supported Firefox browser binary."
Hi,

I'm using node v14.16.0 and npm 6.14.11

when using:
`proxy-lists getProxies --output-format="txt"`
module generates` proxies.txt` but in `proxy-lists.log` is see 20 entries like this:
`Error while scraping blackhatworld: Error: Could not find browser revision 768783. Run "PUPPETEER_PRODUCT=firefox npm install" or "PUPPETEER_PRODUCT=firefox yarn install" to download a supported Firefox browse

[2021-08-17 20:09] #129 closed

[2021-08-24 20:44] ylluminarious opened #136 "Chromium Errors on Startup"
I ran:

[code]

And got the following errors:

[code]

It appears that it's the same error repeating itself. It only stopped when I typed `Ctrl+C`. I believe this has something to do with Chromium crashing although I'm not sure why.

System information:
- `macOS 10.15.7`
- `node v10.16.3`
  - also using `node` via `nvm 0.35.3`
- `proxy-lists 1.15.3`, installed via `npm install -g proxy-lists`

As

[2022-03-15 12:30] wh3r3areyou opened #137 "Dramatic reduction in the number of proxies"
Hello, drastic proxy reduction. Previously, there was parsing on a 60k proxy, now on 600. I think it's a 503 error when parsing blackhatproxy

[2022-04-24 06:38] LeMoussel opened #138 "High severity vulnerabilities"
When installing `proxy-lists`, I got this  high severity vulnerabilities

[2022-07-03 23:08] henriquecustodia commented on #137
I just ran the getProxies and got 34k proxies. No geo location filter

[2022-10-05 09:43] omerfdmrl commented on #89
@strarsis How can u `stop`? Can u share source

[2022-10-05 12:21] strarsis commented on #89
Well, I don't have a stop method implemented, I propose for one being implemented.

There is a loop running and a condition could be added in the loop that checks for a property, e.g. stopRequested and stops looping, and a stop method would set it to true.

[2022-10-09 03:01] jwdeaa commented on #136
@ylluminarious

you also can use pzzqz.com api to get free proxy list.

help doc:
https://pzzqz.com/settings/profile

<img width="645" alt="image" src="https://user-images.githubusercontent.com/78612272/194735677-eb34f4a4-4fb2-4572-9b0e-e3254a5342b4.png">